<html>

<head>
    <title>dragonBaby</title>
</head>

<body style="background-color: burlywood;">
    <h2 style="margin-top: 10%; font-family: 'Times New Roman', Times, serif; background-color:darksalmon;">
        This is base project and developed by <a href="https://www.instagram.com/aby.jeet/"> @aby.jeet </a>. <br>This calculator has inline js-script which eval the expression (input from the user). <br>This project is deployed on 9 March 2021, 7:38PM
        IST using flask framework.<br> Purpose to evaluate the production environment on server.


    </h2>
    <p style="top: 50%;">
        <center>
            <h3> Thanks for visiting my work !!</h3>
        </center>
    </p>

    <a href="{{url_for( 'index')}}" style="float: right; font-style: italic; margin-left: 50px; font-size: 20px;"> Go to project</a>
    <!--<input type="button" class="button gray" value="back" onclick="location.href='index.html'">-->
    <br>
    <p>
        <div id="footer" style="margin-top: 20%;">
            <span>Copyright &copy; 2021 dragonBaby | Designed by Abhijeet</span>

        </div>
    </p>
</body>

</html>